modules/integration/manual/itest-resources/WSDLs/aspnetcompound1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements. See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership. The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License. You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://soapinterop.org/xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://soapinterop.org" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://soapinterop.org" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://soapinterop.org/xsd">
      <s:element name="x_Document" type="s0:Document" />
      <s:complexType name="Document">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute name="ID" type="s:string" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:element name="result_Document" type="s0:Document" />
      <s:element name="x_Person" type="s0:Person" />
      <s:complexType name="Person">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Age" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:float" />
        </s:sequence>
        <s:attribute name="Name" type="s:string" />
        <s:attribute name="Male" type="s:boolean" />
      </s:complexType>
      <s:element name="result_Person" type="s0:Person" />
    </s:schema>
  </types>
  <message name="echoDocumentSoapIn">
    <part name="x_Document" element="s0:x_Document" />
  </message>
  <message name="echoDocumentSoapOut">
    <part name="echoDocumentResult" element="s0:result_Document" />
  </message>
  <message name="echoPersonSoapIn">
    <part name="x_Person" element="s0:x_Person" />
  </message>
  <message name="echoPersonSoapOut">
    <part name="echoPersonResult" element="s0:result_Person" />
  </message>
  <portType name="Compound1Soap">
    <operation name="echoDocument">
      <input message="tns:echoDocumentSoapIn" />
      <output message="tns:echoDocumentSoapOut" />
    </operation>
    <operation name="echoPerson">
      <input message="tns:echoPersonSoapIn" />
      <output message="tns:echoPersonSoapOut" />
    </operation>
  </portType>
  <binding name="Compound1Soap" type="tns:Compound1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="echoDocument">
      <soap:operation soapAction="http://soapinterop/echoDocument" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="echoPerson">
      <soap:operation soapAction="http://soapinterop/echoPerson" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Compound1">
    <port name="Compound1Soap" binding="tns:Compound1Soap">
      <soap:address location="http://mssoapinterop.org/asmx/wsdl/compound1.asmx" />
    </port>
  </service>
</definitions>
