clustering/xdocs/modules/wss4j/0_95/sec-conf/in.action.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="action">
		<xs:annotation>
			<xs:documentation>Inflow security 'action' configuration</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="items" type="xs:string"/>
				<xs:element name="passwordCallbackClass" type="xs:string" minOccurs="0"/>
				<xs:element name="signaturePropFile" type="xs:string" minOccurs="0"/>
				<xs:element name="decryptionPropFile" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
