v1.2/modules/jaxws/test-resources/wsdl/BadEndpointAddress.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://jaxws.axis2.apache.org" 
      xmlns:tns="http://jaxws.axis2.apache.org"
      xmlns="http://schemas.xmlsoap.org/wsdl/" 
      xmlns:xsd="http://www.w3.org/2001/XMLSchema"
      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

   <types>
      <xsd:schema targetNamespace="http://jaxws.axis2.apache.org"
         xmlns:tns="http://jaxws.axis2.apache.org"
         xmlns="http://www.w3.org/2001/XMLSchema"
         elementFormDefault="qualified">

         <complexType name="echoType">
            <sequence>
               <element name="request" type="xsd:string"/>
            </sequence>
         </complexType>

         <complexType name="echoResponseType">
            <sequence>
               <element name="response" type="xsd:string"/>
            </sequence>
         </complexType>

         <element name="echo" type="tns:echoType"/>
         <element name="echoResponse" type="tns:echoResponseType"/>

      </xsd:schema>
   </types>

   <message name="echo">
      <part name="parameters" element="tns:echo"/>
   </message>

   <message name="echoResponse">
      <part name="parameters" element="tns:echoResponse"/>
   </message>

   <portType name="Echo">
      <operation name="echo">
         <input message="tns:echo" />
         <output message="tns:echoResponse" />
      </operation>
   </portType>

   <binding name="EchoBinding" type="tns:Echo">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="echo">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>

         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
   </binding>

   <service name="EchoService">
      <port binding="tns:EchoBinding" name="EchoPort">
         <soap:address location="this is an invalid string"/>
      </port>
   </service>
</definitions>
