1_3/modules/jaxws/test/org/apache/axis2/jaxws/provider/soapmsgmu/META-INF/ProviderSOAPMessage.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
-->

<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:s="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="http://ws.apache.org/axis2"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
    xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
    targetNamespace="http://ws.apache.org/axis2" 
    xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
     	<xsd:schema
			targetNamespace="http://ws.apache.org/axis2"
			xmlns:tns="http://ws.apache.org/axis2"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:complexType name="StringArray">
				<xsd:sequence>
					<xsd:element name="value" type="xsd:string"
						minOccurs="0" maxOccurs="unbounded" />

				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="inMessage" type="tns:StringArray" />
			<xsd:element name="outMessage" type="tns:StringArray" />
		        <xsd:element name="twoWayExceptionFault" type="xsd:string" />
	</xsd:schema>
    

  </types>
   
  <message name="emptyMessage"/>
  <message name="inMessage">
    <part name="parameters" element="tns:inMessage" />
  </message>
  <message name="outMessage">
    <part name="parameters" element="tns:outMessage" />
  </message>

  <portType name="EchoServiceInterface">
    <operation name="invoke">
      <input message="tns:inMessage" />
      <output message="tns:outMessage" />
    </operation>  
  </portType>

  <binding name="EchoServiceSoap" type="tns:EchoServiceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="invoke">
      <soap:operation soapAction="echoString" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>

  <service name="SoapMessageMUProviderService">
    <port name="SimpleProviderServiceSOAP11port0" binding="tns:EchoServiceSoap">
      <soap:address location="http://localhost:8080/axis2/services/SoapMessageMUProviderService" />
    </port>
  </service>

</definitions>
