1_1/modules/jaxws/test-resources/xsd/jaxbsource.xsd

<xsd:schema
	targetNamespace="http://org.test.dispatch.jaxbsource"
	xmlns:tns="http://org.test.dispatch.jaxbsource"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			
	<xsd:element name="ReturnType">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="return_str"
					type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="invoke">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="invoke_str"
					type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
