v1.2/modules/integration/test-resources/wsdl/RobustInOnlyServiceTest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="wsdladmintest"
                  targetNamespace="http://www.example.org/wsdltest/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://www.example.org/wsdltest/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.example.org/wsdltest/"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns:p="http://schemas.xmlsoap.org/wsdl/soap/">
            <xsd:element name="Request">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="in" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Response">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="out" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Fault">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="fault" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="OperationRequestMessage">
        <wsdl:part element="tns:Request" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="OperationResponseMessage">
        <wsdl:part element="tns:Response" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="FaultMessage">
        <wsdl:part element="tns:Fault" name="parameters"/>
    </wsdl:message>

    <wsdl:portType name="wsdltest">
        <wsdl:operation name="Operation">
            <wsdl:input message="tns:OperationRequestMessage"/>
            <wsdl:fault name="ConnectionFailure" message="tns:FaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="wsdltestSOAP" type="tns:wsdltest">
        <soap:binding style="document"  transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Operation">
            <soap:operation  soapAction="http://www.example.org/wsdltest/NewOperation"/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="ConnectionFailure">
                <soap:fault use="literal" name="ConnectionFailure"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="wsdltest">
        <wsdl:port binding="tns:wsdltestSOAP" name="wsdltestSOAP">
            <soap:address location="http://www.example.org/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>

