modules/jaxws/test/org/apache/axis2/jaxws/proxy/doclitnonwrapped/META-INF/proxy_doclit_unwr.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
	This is a copy of proxy_doclitwr.wsdl. Service and port names
	have been chnaged to be Alpha compatible and endpoint address
	has been changed
-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://doclitnonwrapped.proxy.test.org"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="proxy"
	targetNamespace="http://doclitnonwrapped.proxy.test.org">
	
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://doclitnonwrapped.proxy.test.org"
			xmlns:tns="http://doclitnonwrapped.proxy.test.org"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">

			<xsd:element name="MyFault" type="xsd:string" />
			
			
			
			<xsd:element name="invoke" nillable="true">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="invoke_str" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>			
			
			<xsd:element name="ReturnType" nillable="true">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="return_str" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>				

		</xsd:schema>
	</wsdl:types>

	
	
	<wsdl:message name="invokeRequest">
		<wsdl:part name="allByMyself" element="tns:invoke" />
	</wsdl:message>

	<wsdl:message name="invokeResponse">
		<wsdl:part name="allByMyself" element="tns:ReturnType" />
	</wsdl:message>	
	
	<wsdl:portType name="DocLitnonWrappedProxy">

		
		<wsdl:operation name="invoke">
			<wsdl:input message="tns:invokeRequest" />
			<wsdl:output message="tns:invokeResponse" />
		</wsdl:operation>		
			
	</wsdl:portType>
	
	<wsdl:binding name="ProxyDocLitnonWrapped" type="tns:DocLitnonWrappedProxy">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />		
		<wsdl:operation name="invoke">
			<soap:operation soapAction="http://doclitnonwrapped.proxy.test.org/invokeReturn" />
			<wsdl:input>
				<soap:body use="literal"  />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"  />
			</wsdl:output>
	
		</wsdl:operation>		
	
	</wsdl:binding>
	
	<wsdl:service name="ProxyDocLitUnwrappedService">
		<wsdl:port binding="tns:ProxyDocLitnonWrapped" name="ProxyDocLitnonWrappedPort">
			<soap:address location="http://@HOST@:@PORT@/jaxws.proxy/services/ProxyDocLitUnwrappedService" />
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>
