post-1.1-trunk/modules/adb-codegen/test-resources/xsd/anonymous_complexType.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://soapinterop.org1/types"
        targetNamespace="http://soapinterop.org1/types"
        elementFormDefault="qualified">
    <element name="tempElt">
        <complexType>
            <sequence>
                <element name="varString" type="xsd:string"/>
                <element name="varInt" type="xsd:int"/>
                <element name="varFloat" type="xsd:float"/>
            </sequence>
        </complexType>
    </element>
</schema>