1_2/modules/adb-codegen/test-resources/testsuite/all.xsd

<xs:schema elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://tempuri.org/"
           targetNamespace="http://tempuri.org/">
    <xs:element name="Update">
        <xs:complexType>
            <xs:all>
                <xs:element type="xs:int" name="id" minOccurs="1" maxOccurs="1"/>
                <xs:element type="xs:string" name="arg0" minOccurs="0" maxOccurs="1"/>
                <xs:element type="xs:boolean" name="arg1" minOccurs="0" maxOccurs="1"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>