modules/kernel/test-resources/schemas/default_generator/ComplexPOJO-3.xml

<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements. See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership. The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License. You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax245="http://java2wsdl.description.axis2.apache.org/xsd" xmlns:ax247="http://ws.apache.org/namespaces/axis2/map" xmlns:ex="http://example.org" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://example.org">
    <xs:import namespace="http://java2wsdl.description.axis2.apache.org/xsd"/>
    <xs:import namespace="http://ws.apache.org/namespaces/axis2/map"/>
    <xs:element name="setStrings">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="strings" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="setSimplePOJO">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="simplePOJO" nillable="true" type="ax245:DefaultSchemaGeneratorTest_SimplePOJO"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="setMap">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="map" nillable="true" type="ax247:map1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="setList">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="list" nillable="true" type="xs:anyType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="setL">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="l" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="setI">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="i" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="setD">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="d" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="setC">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="c" type="xs:unsignedShort"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="setBool">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bool" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="setB">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="b" nillable="true" type="xs:base64Binary"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="isBool">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="isBoolResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="return" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getStrings">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="getStringsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getSimplePOJO">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="getSimplePOJOResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" nillable="true" type="ax245:DefaultSchemaGeneratorTest_SimplePOJO"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getMap">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="getMapResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" nillable="true" type="ax247:map2"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getList">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="getListResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getL">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="getLResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="return" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getI">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="getIResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="return" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getD">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="getDResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="return" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getC">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="getCResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="return" type="xs:unsignedShort"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getB">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="getBResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
