v1.0/modules/codegen/test-resources/xsd/simple-minoccurs0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://test.org">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="A" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
				<xs:element name="B" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="C" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="D" type="xs:string" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
