jaxws21/modules/adb-codegen/test-resources/testsuite/decimal.xsd

<xsd:schema elementFormDefault="qualified"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://tempuri.org/boolean1"
           targetNamespace="http://tempuri.org/boolean1">

    <xsd:complexType name="ArrayOfDecimal">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="decimal" nillable="true" type="xsd:decimal"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getHistoricNavResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfDecimal"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>