1_2/modules/jaxws/test/org/apache/axis2/jaxws/sample/mtom1/META-INF/samplemtomjpeg.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
Name: samplemtomjpeg.wsdl
-->
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"  
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
    xmlns:s0="urn://mtom1.sample.jaxws.axis2.apache.org"
    targetNamespace="urn://mtom1.sample.jaxws.axis2.apache.org"
    xmlns="http://schemas.xmlsoap.org/wsdl/">
    
  <types>
   <xs:schema elementFormDefault="qualified"
    xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
    xmlns:tns="urn://mtom1.sample.jaxws.axis2.apache.org"
    targetNamespace="urn://mtom1.sample.jaxws.axis2.apache.org">
    
    <xs:complexType name="ImageDepot">
       <xs:sequence>
           <xs:element name="imageData" 
                       type="xs:base64Binary"                        
                       xmime:expectedContentTypes="image/jpeg"/>
                       
          <xs:element name="textData" 
                       type="xmime:base64Binary"                        
                       xmime:contentType="text/xml"/>
          
       </xs:sequence>
    </xs:complexType>
    
    <xs:element name="invoke">
       <xs:complexType>
          <xs:sequence>
             <xs:element minOccurs="0" maxOccurs="1" name="input" type="tns:ImageDepot"/>
          </xs:sequence>
       </xs:complexType>
    </xs:element>
    
    <xs:element name="sendImageResponse">
       <xs:complexType>
          <xs:sequence>
             <xs:element minOccurs="0" maxOccurs="1" name="output" type="tns:ImageDepot"/>
          </xs:sequence>
       </xs:complexType>
    </xs:element>
    
   </xs:schema>
  </types>

  <message name="emptyMessage"/>
  <message name="sendImage">
    <part name="parameters" element="s0:invoke" />
  </message>
  <message name="sendImageResponse">
    <part name="parameters" element="s0:sendImageResponse" />
  </message>

  <portType name="sendImageInterface">
    <operation name="invoke">
      <input message="s0:sendImage" />
      <output message="s0:sendImageResponse" />
    </operation>  
  </portType>

  <binding name="sendImageSoap" type="s0:sendImageInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="invoke">
      <soap:operation soapAction="sendImage" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>

  <service name="SendImageService">
    <port name="SendImagePort" binding="s0:sendImageSoap">
      <soap:address location="http://localhost:9080/MTOMByteArray/SendImageService" />
    </port>
  </service>

</definitions>
