modules/jaxbri-codegen/src/test/schemas/default_generator/EnumAsReturnType-2.xml

<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements. See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership. The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License. You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->


<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://example.org" xmlns:enum="http://ws.apache.org/namespaces/axis2/enum" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://example.org">
    <xs:simpleType name="simpleEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WHITE"/>
            <xs:enumeration value="BLACK"/>
            <xs:enumeration value="RED"/>
            <xs:enumeration value="YELLOW"/>
            <xs:enumeration value="BLUE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="testEnumAsReturnType">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="testEnumAsReturnTypeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" nillable="true" type="enum:SimpleEnum"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
