modules/adb-tests/src/test/wsdl/AXIS2-5750.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="FixedValueService" targetNamespace="http://ise-online.com/FixedValueService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ise-online.com/FixedValueService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ise-online.com/FixedValueService/">
      <xsd:element name="FixedValue">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="nonFixedValue" minOccurs="0">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="10"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="fixedValue" fixed="strict" type="xsd:string" use="required"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FixedValueResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TestRequest">
    <wsdl:part name="parameters" element="tns:FixedValue">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TestResponse">
    <wsdl:part name="parameters" element="tns:FixedValueResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="FixedValueService">
    <wsdl:operation name="Test">
      <wsdl:input message="tns:TestRequest">
      </wsdl:input>
      <wsdl:output message="tns:TestResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FixedValueServiceSOAP" type="tns:FixedValueService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://ise-online.com/FixedValueService/Test"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FixedValueService">
    <wsdl:port name="FixedValueServiceSOAP" binding="tns:FixedValueServiceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
