1_3_post_mods/modules/integration/manual/itest-resources/WSDLs/aspnetInteropTestDocLitParameters.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements. See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership. The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License. You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<definitions xmlns:s1="http://soapinterop.org/AbstractTypes" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://soapinterop.org/xsd" xmlns:s2="http://soapinterop.org" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://soapinterop.org" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://soapinterop.org/xsd">
      <s:element name="echoStruct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="param0" type="s0:SOAPStruct" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SOAPStruct">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="varFloat" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="varInt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="varString" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="echoStructResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="return" type="s0:SOAPStruct" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoStringArray">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="param0" type="s0:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="string" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="echoStringArrayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="return" type="s0:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="param0" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="return" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema targetNamespace="http://soapinterop.org/AbstractTypes">
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://soapinterop.org">
      <s:element name="ArrayOfString" nillable="true" type="s2:ArrayOfString" />
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="echoStructSoapIn">
    <part name="parameters" element="s0:echoStruct" />
  </message>
  <message name="echoStructSoapOut">
    <part name="parameters" element="s0:echoStructResponse" />
  </message>
  <message name="echoStringArraySoapIn">
    <part name="parameters" element="s0:echoStringArray" />
  </message>
  <message name="echoStringArraySoapOut">
    <part name="parameters" element="s0:echoStringArrayResponse" />
  </message>
  <message name="echoStringSoapIn">
    <part name="parameters" element="s0:echoString" />
  </message>
  <message name="echoStringSoapOut">
    <part name="parameters" element="s0:echoStringResponse" />
  </message>
  <portType name="WSDLInteropTestDocLitParametersSoap">
    <operation name="echoStruct">
      <input message="s2:echoStructSoapIn" />
      <output message="s2:echoStructSoapOut" />
    </operation>
    <operation name="echoStringArray">
      <input message="s2:echoStringArraySoapIn" />
      <output message="s2:echoStringArraySoapOut" />
    </operation>
    <operation name="echoString">
      <input message="s2:echoStringSoapIn" />
      <output message="s2:echoStringSoapOut" />
    </operation>
  </portType>
  <binding name="WSDLInteropTestDocLitParametersSoap" type="s2:WSDLInteropTestDocLitParametersSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="echoStruct">
      <soap:operation soapAction="http://soapinterop.org/" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="echoStringArray">
      <soap:operation soapAction="http://soapinterop.org/" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="echoString">
      <soap:operation soapAction="http://soapinterop.org/" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WSDLInteropTestDocLitParameters">
    <port name="WSDLInteropTestDocLitParametersSoap" binding="s2:WSDLInteropTestDocLitParametersSoap">
      <soap:address location="http://mssoapinterop.org/asmx/wsdl/InteropTestDocLitParameters.asmx" />
    </port>
  </service>
</definitions>
