modules/codegen/test-resources/xsd/simple_sequence.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://soapinterop.org/types"
        targetNamespace="http://soapinterop.org/types">
    <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
    <complexType name="SOAPStruct">
        <sequence>
            <element name="varString" type="xsd:string"/>
            <element name="varInt" type="xsd:int"/>
            <element name="varFloat" type="xsd:float"/>
        </sequence>
    </complexType>
    <element name="myElement" type="tns:SOAPStruct"/>
</schema>