modules/codegen/test-resources/xsd/simple_maxOccurs.xsd

<schema targetNamespace="http://soapinterop.org2/xsd"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsd1="http://soapinterop.org2/xsd"
        elementFormDefault="qualified">
    <complexType name="SOAPStruct">
        <sequence>
            <element name="varFloat" type="xsd:float"/>
            <element name="varInt" type="xsd:int"/>
            <element name="varString" type="xsd:string" maxOccurs="10"/>
        </sequence>
    </complexType>
    <element name="myobject" type="xsd1:SOAPStruct" />
</schema>