modules/codegen/test-resources/xsd/simple_element_reference.xsd

<schema elementFormDefault="qualified"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="urn:sobject.enterprise.soap.sforce.com"
        targetNamespace="urn:sobject.enterprise.soap.sforce.com">
    <complexType name="sObject">
        <sequence>
            <element ref="tns:fieldsToNull" />
            <element ref="tns:Id" />
        </sequence>
    </complexType>
    <element name="fieldsToNull"  type="xsd:string" />
    <element name="Id"  type="xsd:string" />
    <element name="Account" type="tns:sObject"/>
    
</schema>