jaxws21/modules/integration/manual/test/samples/wsdl/perf/perf.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://perf.wsdl.samples" xmlns:intf="http://perf.wsdl.samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://perf.wsdl.samples">
	<wsdl:types>
		<schema elementFormDefault="qualified" targetNamespace="http://perf.wsdl.samples" xmlns="http://www.w3.org/2001/XMLSchema">
			<element name="inputElement">
				<complexType>
					<sequence>
						<element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="outputElement" type="xsd:string"/>
		</schema>
	</wsdl:types>
	<wsdl:message name="handleStringArrayResponse">
		<wsdl:part name="output" element="impl:outputElement"/>
	</wsdl:message>
	<wsdl:message name="handleStringArrayRequest">
		<wsdl:part name="input" element="impl:inputElement"/>
	</wsdl:message>
	<wsdl:portType name="PerfPortType1">
		<wsdl:operation name="handleStringArray" parameterOrder="input">
			<wsdl:input name="handleStringArrayRequest" message="impl:handleStringArrayRequest"/>
			<wsdl:output name="handleStringArrayResponse" message="impl:handleStringArrayResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PerformanceSoapBinding" type="impl:PerfPortType1">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="handleStringArray">
			<wsdlsoap:operation soapAction="handleStringArray"/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PerfPortType">
		<wsdl:port name="Performance" binding="impl:PerformanceSoapBinding">
			<wsdlsoap:address location="http://localhost:8080/axis2/services/PerfPortType"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
