modules/jaxws/test-resources/xsd/echo.xsd

<!-- This schema is used to generate the JAX-B artifacts 
     used by the JAX-B Dispatch tests -->
<s:schema xmlns:s="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" 
	targetNamespace="http://test">
  <s:element name="echoString">
    <s:complexType>
      <s:sequence>
        <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
      </s:sequence>
    </s:complexType>
  </s:element>
  <s:element name="echoStringResponse">
    <s:complexType>
      <s:sequence>
        <s:element minOccurs="0" maxOccurs="1" name="echoStringReturn" type="s:string" />
      </s:sequence>
    </s:complexType>
  </s:element>
</s:schema>