clustering/modules/jaxws/test/org/apache/axis2/jaxws/sample/wsgen/META-INF/WSGenService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://wsgen.sample.jaxws.axis2.apache.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="echoString" type="ns1:echoString" xmlns:ns1="http://wsgen.sample.jaxws.axis2.apache.org"/>

  <xs:complexType name="echoString">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="echoStringResponse" type="ns2:echoStringResponse" xmlns:ns2="http://wsgen.sample.jaxws.axis2.apache.org"/>

  <xs:complexType name="echoStringResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

