modules/jaxws/test/org/apache/axis2/jaxws/dispatch/server/META-INF/SOAP12ProviderService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://org/apache/axis2/jaxws/test/SOAP12" 
    xmlns:impl="http://org/apache/axis2/jaxws/test/SOAP12" 
    xmlns:intf="http://org/apache/axis2/jaxws/test/SOAP12" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://org/apache/axis2/jaxws/test/SOAP12" 
        xmlns="http://www.w3.org/2001/XMLSchema" 
        xmlns:impl="http://org/apache/axis2/jaxws/test/SOAP12" 
        xmlns:intf="http://org/apache/axis2/jaxws/test/SOAP12" 
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">

   <element name="echoString">
    <complexType>
     <sequence>
      <element name="input" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="echoStringResponse">
    <complexType>
     <sequence>
      <element name="echoStringReturn" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   
   <!--
   <element name="echoStringRequest">
    <complexType>
     <sequence>
      <element name="echoStringInput" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   -->
        </schema>
 </wsdl:types>

   <wsdl:message name="echoStringResponse">

      <wsdl:part element="impl:echoStringResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="echoStringRequest">

      <wsdl:part element="impl:echoString" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="Echo">

      <wsdl:operation name="echoString">

         <wsdl:input message="impl:echoStringRequest" name="echoStringRequest"/>

         <wsdl:output message="impl:echoStringResponse" name="echoStringResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SOAP12Binding" type="impl:Echo">

      <wsdlsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="echoString">

         <wsdlsoap12:operation soapAction=""/>

         <wsdl:input name="echoStringRequest">

            <wsdlsoap12:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="echoStringResponse">

            <wsdlsoap12:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SOAP12Service">

      <wsdl:port binding="impl:SOAP12Binding" name="SOAP12Port">

         <wsdlsoap12:address location="http://localhost:9080/axis2/services/SOAP12Service"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
