v0.95/modules/integration/itest-resources/WSDLs/aspnetcompound2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s1="http://soapinterop.org/person" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://soapinterop.org/employee" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://soapinterop.org" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://soapinterop.org" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://soapinterop.org/employee">
      <s:import namespace="http://soapinterop.org/person" />
      <s:element name="x_Employee" type="s0:Employee" />
      <s:complexType name="Employee">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="person" type="s1:Person" />
          <s:element minOccurs="1" maxOccurs="1" name="salary" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="result_Employee" type="s0:Employee" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://soapinterop.org/person">
      <s:complexType name="Person">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Male" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </types>
  <message name="echoEmployeeSoapIn">
    <part name="x_Employee" element="s0:x_Employee" />
  </message>
  <message name="echoEmployeeSoapOut">
    <part name="echoEmployeeResult" element="s0:result_Employee" />
  </message>
  <portType name="Compound2Soap">
    <operation name="echoEmployee">
      <input message="tns:echoEmployeeSoapIn" />
      <output message="tns:echoEmployeeSoapOut" />
    </operation>
  </portType>
  <binding name="Compound2Soap" type="tns:Compound2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="echoEmployee">
      <soap:operation soapAction="#echoEmployee" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Compound2">
    <port name="Compound2Soap" binding="tns:Compound2Soap">
      <soap:address location="http://mssoapinterop.org/asmx/wsdl/compound2.asmx" />
    </port>
  </service>
</definitions>
