modules/kernel/test-resources/wsdl/Version.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:ns1="http://org.apache.axis2/xsd" 
    xmlns:ns="http://axisversion.sample" 
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    targetNamespace="http://axisversion.sample">
    <wsdl:documentation>Version</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://axisversion.sample">
            <xs:element name="VersionException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="VersionException" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getVersion">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getVersionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getVersionRequest">
        <wsdl:part name="parameters" element="ns:getVersion"/>
    </wsdl:message>
    <wsdl:message name="getVersionResponse">
        <wsdl:part name="parameters" element="ns:getVersionResponse"/>
    </wsdl:message>
    <wsdl:message name="VersionException">
        <wsdl:part name="parameters" element="ns:VersionException"/>
    </wsdl:message>
    <wsdl:portType name="VersionPortType">
        <wsdl:operation name="getVersionWSAW" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" >
            <wsdl:input message="ns:getVersionRequest" wsaw:Action="http://axisversion.sample/VersionPortType/getVersionWSAWRequest"/>
            <wsdl:output message="ns:getVersionResponse" wsaw:Action="http://axisversion.sample/VersionPortType/getVersionWSAWResponse"/>
            <wsdl:fault message="ns:VersionException" name="VersionException" wsaw:Action="http://axisversion.sample/VersionPortType/Fault/getVersionWSAWException"/>
        </wsdl:operation>
        <wsdl:operation name="getVersionWSA" xmlns:wsa="http://www.w3.org/2005/08/addressing">
            <wsdl:input message="ns:getVersionRequest" wsa:Action="http://axisversion.sample/VersionPortType/getVersionWSARequest"/>
            <wsdl:output message="ns:getVersionResponse" wsa:Action="http://axisversion.sample/VersionPortType/getVersionWSAResponse"/>
            <wsdl:fault message="ns:VersionException" name="VersionException" wsa:Action="http://axisversion.sample/VersionPortType/Fault/getVersionWSAException"/>
        </wsdl:operation>
        <wsdl:operation name="getVersionWSAM" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
            <wsdl:input message="ns:getVersionRequest" wsam:Action="http://axisversion.sample/VersionPortType/getVersionWSAMRequest"/>
            <wsdl:output message="ns:getVersionResponse" wsam:Action="http://axisversion.sample/VersionPortType/getVersionWSAMResponse"/>
            <wsdl:fault message="ns:VersionException" name="VersionException" wsam:Action="http://axisversion.sample/VersionPortType/Fault/getVersionWSAMException"/>
        </wsdl:operation>
        <wsdl:operation name="getVersionWSAWSubmission" xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing">
            <wsdl:input message="ns:getVersionRequest" wsaw:Action="http://axisversion.sample/VersionPortType/getVersionWSAWSubmissionRequest"/>
            <wsdl:output message="ns:getVersionResponse" wsaw:Action="http://axisversion.sample/VersionPortType/getVersionWSAWSubmissionResponse"/>
            <wsdl:fault message="ns:VersionException" name="VersionException" wsaw:Action="http://axisversion.sample/VersionPortType/Fault/getVersionWSAWSubmissionException"/>
        </wsdl:operation>
        <wsdl:operation name="getVersionWSAWURI" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" >
            <wsdl:input message="ns:getVersionRequest" wsaw:Action="ns:Version/VersionPortType/getVersionWSAWURIRequest"/>
            <wsdl:output message="ns:getVersionResponse" wsaw:Action="ns:Version/VersionPortType/getVersionWSAWURIResponse"/>
            <wsdl:fault message="ns:VersionException" name="VersionException" wsaw:Action="ns:Version/VersionPortType/Fault/getVersionWSAWURIException"/>
        </wsdl:operation>
        <wsdl:operation name="getVersionWSAURI" xmlns:wsa="http://www.w3.org/2005/08/addressing">
            <wsdl:input message="ns:getVersionRequest" wsa:Action="ns:Version/VersionPortType/getVersionWSAURIRequest"/>
            <wsdl:output message="ns:getVersionResponse" wsa:Action="ns:Version/VersionPortType/getVersionWSAURIResponse"/>
            <wsdl:fault message="ns:VersionException" name="VersionException" wsa:Action="ns:Version/VersionPortType/Fault/getVersionWSAURIException"/>
        </wsdl:operation>
        <wsdl:operation name="getVersionWSAMURI" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
            <wsdl:input message="ns:getVersionRequest" wsam:Action="ns:Version/VersionPortType/getVersionWSAMURIRequest"/>
            <wsdl:output message="ns:getVersionResponse" wsam:Action="ns:Version/VersionPortType/getVersionWSAMURIResponse"/>
            <wsdl:fault message="ns:VersionException" name="VersionException" wsam:Action="ns:Version/VersionPortType/Fault/getVersionWSAMURIException"/>
        </wsdl:operation>
        <wsdl:operation name="getVersionWSAWSubmissionURI" xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing">
            <wsdl:input message="ns:getVersionRequest" wsaw:Action="ns:Version/VersionPortType/getVersionWSAWSubmissionURIRequest"/>
            <wsdl:output message="ns:getVersionResponse" wsaw:Action="ns:Version/VersionPortType/getVersionWSAWSubmissionURIResponse"/>
            <wsdl:fault message="ns:VersionException" name="VersionException" wsaw:Action="ns:Version/VersionPortType/Fault/getVersionWSAWSubmissionURIException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="VersionSoap11Binding" type="ns:VersionPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getVersionWSAW">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="VersionException">
                <soap:fault use="literal" name="VersionException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getVersionWSA">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="VersionException">
                <soap:fault use="literal" name="VersionException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getVersionWSAM">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="VersionException">
                <soap:fault use="literal" name="VersionException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getVersionWSAWSubmission">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="VersionException">
                <soap:fault use="literal" name="VersionException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getVersionWSAWURI">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="VersionException">
                <soap:fault use="literal" name="VersionException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getVersionWSAURI">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="VersionException">
                <soap:fault use="literal" name="VersionException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getVersionWSAMURI">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="VersionException">
                <soap:fault use="literal" name="VersionException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getVersionWSAWSubmissionURI">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="VersionException">
                <soap:fault use="literal" name="VersionException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="VersionSoap12Binding" type="ns:VersionPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getVersionWSAW">
            <soap12:operation style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="VersionException">
                <soap12:fault use="literal" name="VersionException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getVersionWSA">
            <soap12:operation style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="VersionException">
                <soap12:fault use="literal" name="VersionException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getVersionWSAM">
            <soap12:operation style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="VersionException">
                <soap12:fault use="literal" name="VersionException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getVersionWSAWSubmission">
            <soap12:operation style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="VersionException">
                <soap12:fault use="literal" name="VersionException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getVersionWSAWURI">
            <soap12:operation style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="VersionException">
                <soap12:fault use="literal" name="VersionException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getVersionWSAURI">
            <soap12:operation style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="VersionException">
                <soap12:fault use="literal" name="VersionException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getVersionWSAMURI">
            <soap12:operation style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="VersionException">
                <soap12:fault use="literal" name="VersionException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getVersionWSAWSubmissionURI">
            <soap12:operation style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="VersionException">
                <soap12:fault use="literal" name="VersionException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Version">
        <wsdl:port name="VersionHttpSoap11Endpoint" binding="ns:VersionSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/Version.VersionHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="VersionHttpSoap12Endpoint" binding="ns:VersionSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/Version.VersionHttpSoap12Endpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
