clustering/modules/codegen/test-resources/schemas/schema-2.xsd

<!--
    1. AddRequest is of AddRequestType
    2. AddRequestType has a sequence
-->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://ws.apache.org/schemas/axis2" xmlns="http://ws.apache.org/schemas/axis2"
           xmlns:ns="http://ws.apache.org/schemas/axis2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="AddRequest" type="AddRequestType"/>
    <xs:complexType name="AddRequestType">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="ParameterOne" type="xs:int"/>
            <xs:element maxOccurs="1" minOccurs="1" name="ParameterTwo" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>