modules/adb-codegen/test-resources/testsuite/boolean.xsd

<xs:schema elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://tempuri.org/attribute"
           targetNamespace="http://tempuri.org/attribute">

    <xs:element name="TestBoolean1" type="xs:boolean"/>
    <xs:element name="TestBoolean2" >
        <xs:complexType>
            <xs:sequence>
                <xs:element name="param1" type="xs:boolean"/>
            </xs:sequence>
            <xs:attribute name="attribute1" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
</xs:schema>