modules/kernel/test-resources/schemas/doc_lit_generator/MapAsParameter-1.xml

<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements. See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership. The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License. You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:map="http://ws.apache.org/namespaces/axis2/map" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/namespaces/axis2/map">
    <xs:complexType name="entry1">
        <xs:sequence>
            <xs:element minOccurs="0" name="key" nillable="true" type="xs:anyType"/>
            <xs:element minOccurs="0" name="value" nillable="true" type="xs:anyType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="map1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="entry" nillable="true" type="map:entry1"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
