modules/kernel/test-resources/schemas/doc_lit_generator/PrimitivesAsParameters-1.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex="http://example.org" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://example.org">
    <xs:element name="testPrimitiveTypes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="b" type="xs:byte"/>
                <xs:element name="s" type="xs:short"/>
                <xs:element name="i" type="xs:int"/>
                <xs:element name="l" type="xs:long"/>
                <xs:element name="f" type="xs:float"/>
                <xs:element name="d" type="xs:double"/>
                <xs:element name="isTrue" type="xs:boolean"/>
                <xs:element name="c" type="xs:unsignedShort"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
