modules/java2wsdl/test-resources/BaseDataTypes.wsdl

<wsdl:definitions xmlns:axis2="http://tempuri.org" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://tempuri.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org/xsd">
            <xs:element name="retBool">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inBool" nillable="true" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retBoolResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" nillable="true" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retSByte">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inSByte" nillable="true" type="xs:byte"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retSByteResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" nillable="true" type="xs:byte"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retByteArray">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inByteArray" nillable="true" type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retByteArrayResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" nillable="true" type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retDouble">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inDouble" nillable="true" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retDoubleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" nillable="true" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retFloat">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inFloat" nillable="true" type="xs:float"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retFloatResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" nillable="true" type="xs:float"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retSingle">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inSingle" nillable="true" type="xs:float"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retSingleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" nillable="true" type="xs:float"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retChar">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inChar" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retCharResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retInt">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inInt" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retIntResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retUShort">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inUShort" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retUShortResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retObject">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inObject" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retObjectResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retGuid">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inGuid" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retGuidResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retString">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inString" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retStringResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retUri">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inUri" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retUriResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retDecimal">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inDecimal" nillable="true" type="xs:decimal"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retDecimalResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" nillable="true" type="xs:decimal"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retULong">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inULong" nillable="true" type="xs:integer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retULongResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" nillable="true" type="xs:integer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retDateTime">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inDateTime" nillable="true" type="xs:dateTime"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retDateTimeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" nillable="true" type="xs:dateTime"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retTimeSpan">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inTimeSpan" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retTimeSpanResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retQName">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inQName" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retQNameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retLong">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inLong" nillable="true" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retLongResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" nillable="true" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retUInt">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inUInt" nillable="true" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retUIntResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" nillable="true" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retByte">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inByte" nillable="true" type="xs:short"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retByteResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" nillable="true" type="xs:short"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retShort">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inShort" nillable="true" type="xs:short"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retShortResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" nillable="true" type="xs:short"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="retBoolMessage">
        <wsdl:part name="part1" element="ns:retBool"/>
    </wsdl:message>
    <wsdl:message name="retBoolResponseMessage">
        <wsdl:part name="part1" element="ns:retBoolResponse"/>
    </wsdl:message>
    <wsdl:message name="retSByteMessage">
        <wsdl:part name="part1" element="ns:retSByte"/>
    </wsdl:message>
    <wsdl:message name="retSByteResponseMessage">
        <wsdl:part name="part1" element="ns:retSByteResponse"/>
    </wsdl:message>
    <wsdl:message name="retByteArrayMessage">
        <wsdl:part name="part1" element="ns:retByteArray"/>
    </wsdl:message>
    <wsdl:message name="retByteArrayResponseMessage">
        <wsdl:part name="part1" element="ns:retByteArrayResponse"/>
    </wsdl:message>
    <wsdl:message name="retDoubleMessage">
        <wsdl:part name="part1" element="ns:retDouble"/>
    </wsdl:message>
    <wsdl:message name="retDoubleResponseMessage">
        <wsdl:part name="part1" element="ns:retDoubleResponse"/>
    </wsdl:message>
    <wsdl:message name="retFloatMessage">
        <wsdl:part name="part1" element="ns:retFloat"/>
    </wsdl:message>
    <wsdl:message name="retFloatResponseMessage">
        <wsdl:part name="part1" element="ns:retFloatResponse"/>
    </wsdl:message>
    <wsdl:message name="retSingleMessage">
        <wsdl:part name="part1" element="ns:retSingle"/>
    </wsdl:message>
    <wsdl:message name="retSingleResponseMessage">
        <wsdl:part name="part1" element="ns:retSingleResponse"/>
    </wsdl:message>
    <wsdl:message name="retCharMessage">
        <wsdl:part name="part1" element="ns:retChar"/>
    </wsdl:message>
    <wsdl:message name="retCharResponseMessage">
        <wsdl:part name="part1" element="ns:retCharResponse"/>
    </wsdl:message>
    <wsdl:message name="retIntMessage">
        <wsdl:part name="part1" element="ns:retInt"/>
    </wsdl:message>
    <wsdl:message name="retIntResponseMessage">
        <wsdl:part name="part1" element="ns:retIntResponse"/>
    </wsdl:message>
    <wsdl:message name="retUShortMessage">
        <wsdl:part name="part1" element="ns:retUShort"/>
    </wsdl:message>
    <wsdl:message name="retUShortResponseMessage">
        <wsdl:part name="part1" element="ns:retUShortResponse"/>
    </wsdl:message>
    <wsdl:message name="retObjectMessage">
        <wsdl:part name="part1" element="ns:retObject"/>
    </wsdl:message>
    <wsdl:message name="retObjectResponseMessage">
        <wsdl:part name="part1" element="ns:retObjectResponse"/>
    </wsdl:message>
    <wsdl:message name="retGuidMessage">
        <wsdl:part name="part1" element="ns:retGuid"/>
    </wsdl:message>
    <wsdl:message name="retGuidResponseMessage">
        <wsdl:part name="part1" element="ns:retGuidResponse"/>
    </wsdl:message>
    <wsdl:message name="retStringMessage">
        <wsdl:part name="part1" element="ns:retString"/>
    </wsdl:message>
    <wsdl:message name="retStringResponseMessage">
        <wsdl:part name="part1" element="ns:retStringResponse"/>
    </wsdl:message>
    <wsdl:message name="retUriMessage">
        <wsdl:part name="part1" element="ns:retUri"/>
    </wsdl:message>
    <wsdl:message name="retUriResponseMessage">
        <wsdl:part name="part1" element="ns:retUriResponse"/>
    </wsdl:message>
    <wsdl:message name="retDecimalMessage">
        <wsdl:part name="part1" element="ns:retDecimal"/>
    </wsdl:message>
    <wsdl:message name="retDecimalResponseMessage">
        <wsdl:part name="part1" element="ns:retDecimalResponse"/>
    </wsdl:message>
    <wsdl:message name="retULongMessage">
        <wsdl:part name="part1" element="ns:retULong"/>
    </wsdl:message>
    <wsdl:message name="retULongResponseMessage">
        <wsdl:part name="part1" element="ns:retULongResponse"/>
    </wsdl:message>
    <wsdl:message name="retDateTimeMessage">
        <wsdl:part name="part1" element="ns:retDateTime"/>
    </wsdl:message>
    <wsdl:message name="retDateTimeResponseMessage">
        <wsdl:part name="part1" element="ns:retDateTimeResponse"/>
    </wsdl:message>
    <wsdl:message name="retTimeSpanMessage">
        <wsdl:part name="part1" element="ns:retTimeSpan"/>
    </wsdl:message>
    <wsdl:message name="retTimeSpanResponseMessage">
        <wsdl:part name="part1" element="ns:retTimeSpanResponse"/>
    </wsdl:message>
    <wsdl:message name="retQNameMessage">
        <wsdl:part name="part1" element="ns:retQName"/>
    </wsdl:message>
    <wsdl:message name="retQNameResponseMessage">
        <wsdl:part name="part1" element="ns:retQNameResponse"/>
    </wsdl:message>
    <wsdl:message name="retLongMessage">
        <wsdl:part name="part1" element="ns:retLong"/>
    </wsdl:message>
    <wsdl:message name="retLongResponseMessage">
        <wsdl:part name="part1" element="ns:retLongResponse"/>
    </wsdl:message>
    <wsdl:message name="retUIntMessage">
        <wsdl:part name="part1" element="ns:retUInt"/>
    </wsdl:message>
    <wsdl:message name="retUIntResponseMessage">
        <wsdl:part name="part1" element="ns:retUIntResponse"/>
    </wsdl:message>
    <wsdl:message name="retByteMessage">
        <wsdl:part name="part1" element="ns:retByte"/>
    </wsdl:message>
    <wsdl:message name="retByteResponseMessage">
        <wsdl:part name="part1" element="ns:retByteResponse"/>
    </wsdl:message>
    <wsdl:message name="retShortMessage">
        <wsdl:part name="part1" element="ns:retShort"/>
    </wsdl:message>
    <wsdl:message name="retShortResponseMessage">
        <wsdl:part name="part1" element="ns:retShortResponse"/>
    </wsdl:message>
    <wsdl:portType name="BaseDataTypesPortType">
        <wsdl:operation name="retBool">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsaw:Action="urn:retBool" message="axis2:retBoolMessage"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retBoolResponseMessage" wsaw:Action="urn:retBool"/>
        </wsdl:operation>
        <wsdl:operation name="retSByte">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsaw:Action="urn:retSByte" message="axis2:retSByteMessage"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retSByteResponseMessage" wsaw:Action="urn:retSByte"/>
        </wsdl:operation>
        <wsdl:operation name="retByteArray">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsaw:Action="urn:retByteArray" message="axis2:retByteArrayMessage"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retByteArrayResponseMessage" wsaw:Action="urn:retByteArray"/>
        </wsdl:operation>
        <wsdl:operation name="retDouble">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsaw:Action="urn:retDouble" message="axis2:retDoubleMessage"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retDoubleResponseMessage" wsaw:Action="urn:retDouble"/>
        </wsdl:operation>
        <wsdl:operation name="retFloat">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsaw:Action="urn:retFloat" message="axis2:retFloatMessage"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retFloatResponseMessage" wsaw:Action="urn:retFloat"/>
        </wsdl:operation>
        <wsdl:operation name="retSingle">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsaw:Action="urn:retSingle" message="axis2:retSingleMessage"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retSingleResponseMessage" wsaw:Action="urn:retSingle"/>
        </wsdl:operation>
        <wsdl:operation name="retChar">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsaw:Action="urn:retChar" message="axis2:retCharMessage"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retCharResponseMessage" wsaw:Action="urn:retChar"/>
        </wsdl:operation>
        <wsdl:operation name="retInt">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsaw:Action="urn:retInt" message="axis2:retIntMessage"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retIntResponseMessage" wsaw:Action="urn:retInt"/>
        </wsdl:operation>
        <wsdl:operation name="retUShort">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsaw:Action="urn:retUShort" message="axis2:retUShortMessage"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retUShortResponseMessage" wsaw:Action="urn:retUShort"/>
        </wsdl:operation>
        <wsdl:operation name="retObject">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsaw:Action="urn:retObject" message="axis2:retObjectMessage"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retObjectResponseMessage" wsaw:Action="urn:retObject"/>
        </wsdl:operation>
        <wsdl:operation name="retGuid">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsaw:Action="urn:retGuid" message="axis2:retGuidMessage"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retGuidResponseMessage" wsaw:Action="urn:retGuid"/>
        </wsdl:operation>
        <wsdl:operation name="retString">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsaw:Action="urn:retString" message="axis2:retStringMessage"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retStringResponseMessage" wsaw:Action="urn:retString"/>
        </wsdl:operation>
        <wsdl:operation name="retUri">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsaw:Action="urn:retUri" message="axis2:retUriMessage"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retUriResponseMessage" wsaw:Action="urn:retUri"/>
        </wsdl:operation>
        <wsdl:operation name="retDecimal">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsaw:Action="urn:retDecimal" message="axis2:retDecimalMessage"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retDecimalResponseMessage" wsaw:Action="urn:retDecimal"/>
        </wsdl:operation>
        <wsdl:operation name="retULong">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsaw:Action="urn:retULong" message="axis2:retULongMessage"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retULongResponseMessage" wsaw:Action="urn:retULong"/>
        </wsdl:operation>
        <wsdl:operation name="retDateTime">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsaw:Action="urn:retDateTime" message="axis2:retDateTimeMessage"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retDateTimeResponseMessage" wsaw:Action="urn:retDateTime"/>
        </wsdl:operation>
        <wsdl:operation name="retTimeSpan">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsaw:Action="urn:retTimeSpan" message="axis2:retTimeSpanMessage"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retTimeSpanResponseMessage" wsaw:Action="urn:retTimeSpan"/>
        </wsdl:operation>
        <wsdl:operation name="retQName">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsaw:Action="urn:retQName" message="axis2:retQNameMessage"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retQNameResponseMessage" wsaw:Action="urn:retQName"/>
        </wsdl:operation>
        <wsdl:operation name="retLong">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsaw:Action="urn:retLong" message="axis2:retLongMessage"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retLongResponseMessage" wsaw:Action="urn:retLong"/>
        </wsdl:operation>
        <wsdl:operation name="retUInt">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsaw:Action="urn:retUInt" message="axis2:retUIntMessage"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retUIntResponseMessage" wsaw:Action="urn:retUInt"/>
        </wsdl:operation>
        <wsdl:operation name="retByte">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsaw:Action="urn:retByte" message="axis2:retByteMessage"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retByteResponseMessage" wsaw:Action="urn:retByte"/>
        </wsdl:operation>
        <wsdl:operation name="retShort">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsaw:Action="urn:retShort" message="axis2:retShortMessage"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retShortResponseMessage" wsaw:Action="urn:retShort"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BaseDataTypesSOAP11Binding" type="axis2:BaseDataTypesPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="retBool">
            <soap:operation soapAction="urn:retBool" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retSByte">
            <soap:operation soapAction="urn:retSByte" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retByteArray">
            <soap:operation soapAction="urn:retByteArray" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retDouble">
            <soap:operation soapAction="urn:retDouble" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retFloat">
            <soap:operation soapAction="urn:retFloat" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retSingle">
            <soap:operation soapAction="urn:retSingle" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retChar">
            <soap:operation soapAction="urn:retChar" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retInt">
            <soap:operation soapAction="urn:retInt" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retUShort">
            <soap:operation soapAction="urn:retUShort" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retObject">
            <soap:operation soapAction="urn:retObject" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retGuid">
            <soap:operation soapAction="urn:retGuid" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retString">
            <soap:operation soapAction="urn:retString" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retUri">
            <soap:operation soapAction="urn:retUri" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retDecimal">
            <soap:operation soapAction="urn:retDecimal" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retULong">
            <soap:operation soapAction="urn:retULong" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retDateTime">
            <soap:operation soapAction="urn:retDateTime" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retTimeSpan">
            <soap:operation soapAction="urn:retTimeSpan" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retQName">
            <soap:operation soapAction="urn:retQName" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retLong">
            <soap:operation soapAction="urn:retLong" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retUInt">
            <soap:operation soapAction="urn:retUInt" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retByte">
            <soap:operation soapAction="urn:retByte" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retShort">
            <soap:operation soapAction="urn:retShort" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BaseDataTypesSOAP12Binding" type="axis2:BaseDataTypesPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="retBool">
            <soap12:operation soapAction="urn:retBool" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retSByte">
            <soap12:operation soapAction="urn:retSByte" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retByteArray">
            <soap12:operation soapAction="urn:retByteArray" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retDouble">
            <soap12:operation soapAction="urn:retDouble" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retFloat">
            <soap12:operation soapAction="urn:retFloat" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retSingle">
            <soap12:operation soapAction="urn:retSingle" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retChar">
            <soap12:operation soapAction="urn:retChar" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retInt">
            <soap12:operation soapAction="urn:retInt" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retUShort">
            <soap12:operation soapAction="urn:retUShort" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retObject">
            <soap12:operation soapAction="urn:retObject" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retGuid">
            <soap12:operation soapAction="urn:retGuid" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retString">
            <soap12:operation soapAction="urn:retString" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retUri">
            <soap12:operation soapAction="urn:retUri" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retDecimal">
            <soap12:operation soapAction="urn:retDecimal" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retULong">
            <soap12:operation soapAction="urn:retULong" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retDateTime">
            <soap12:operation soapAction="urn:retDateTime" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retTimeSpan">
            <soap12:operation soapAction="urn:retTimeSpan" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retQName">
            <soap12:operation soapAction="urn:retQName" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retLong">
            <soap12:operation soapAction="urn:retLong" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retUInt">
            <soap12:operation soapAction="urn:retUInt" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retByte">
            <soap12:operation soapAction="urn:retByte" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retShort">
            <soap12:operation soapAction="urn:retShort" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BaseDataTypes">
        <wsdl:port name="BaseDataTypesSOAP11port" binding="axis2:BaseDataTypesSOAP11Binding">
            <soap:address location="http://localhost:8080/axis2/services/BaseDataTypes"/>
        </wsdl:port>
        <wsdl:port name="BaseDataTypesSOAP12port" binding="axis2:BaseDataTypesSOAP12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/BaseDataTypes"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
