modules/integration/test-resources/BaseDataTypes.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://tempuri.org" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns0="http://tempuri.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org">
	<wsdl:types>
		<xs:schema xmlns:ns="http://tempuri.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org/xsd">
			<xs:element name="retBool">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="inBool" nillable="true" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retBoolResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retSByte">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="inSByte" nillable="true" type="xs:byte"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retSByteResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true" type="xs:byte"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retByteArray">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="inByteArray" nillable="true" type="xs:base64Binary"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retByteArrayResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retDouble">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="inDouble" nillable="true" type="xs:double"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retDoubleResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true" type="xs:double"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retFloat">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="inFloat" nillable="true" type="xs:float"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retFloatResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true" type="xs:float"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retSingle">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="inSingle" nillable="true" type="xs:float"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retSingleResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true" type="xs:float"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retChar">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="inChar" nillable="true" type="xs:int"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retCharResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true" type="xs:int"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retInt">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="inInt" nillable="true" type="xs:int"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retIntResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true" type="xs:int"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retUShort">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="inUShort" nillable="true" type="xs:int"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retUShortResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true" type="xs:int"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retObject">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="inObject" nillable="true" type="xs:anyType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retObjectResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retGuid">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="inGuid" nillable="true" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retGuidResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retString">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="inString" nillable="true" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retStringResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retUri">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="inUri" nillable="true" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retUriResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retDecimal">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="inDecimal" nillable="true" type="xs:decimal"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retDecimalResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true" type="xs:decimal"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retULong">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="inULong" nillable="true" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retULongResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retDateTime">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="inDateTime" nillable="true" type="xs:dateTime"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retDateTimeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true" type="xs:dateTime"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retTimeSpan">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="inTimeSpan" nillable="true" type="xs:anyType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retTimeSpanResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retQName">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="inQName" nillable="true" type="xs:anyType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retQNameResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retLong">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="inLong" nillable="true" type="xs:long"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retLongResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true" type="xs:long"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retUInt">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="inUInt" nillable="true" type="xs:long"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retUIntResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true" type="xs:long"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retByte">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="inByte" nillable="true" type="xs:short"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retByteResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true" type="xs:short"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retShort">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="inShort" nillable="true" type="xs:short"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retShortResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true" type="xs:short"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="retUIntMessage">
		<wsdl:part name="part1" element="ns0:retUInt"/>
	</wsdl:message>
	<wsdl:message name="retUIntResponse">
		<wsdl:part name="part1" element="ns0:retUIntResponse"/>
	</wsdl:message>
	<wsdl:message name="retSingleMessage">
		<wsdl:part name="part1" element="ns0:retSingle"/>
	</wsdl:message>
	<wsdl:message name="retSingleResponse">
		<wsdl:part name="part1" element="ns0:retSingleResponse"/>
	</wsdl:message>
	<wsdl:message name="retTimeSpanMessage">
		<wsdl:part name="part1" element="ns0:retTimeSpan"/>
	</wsdl:message>
	<wsdl:message name="retTimeSpanResponse">
		<wsdl:part name="part1" element="ns0:retTimeSpanResponse"/>
	</wsdl:message>
	<wsdl:message name="retDateTimeMessage">
		<wsdl:part name="part1" element="ns0:retDateTime"/>
	</wsdl:message>
	<wsdl:message name="retDateTimeResponse">
		<wsdl:part name="part1" element="ns0:retDateTimeResponse"/>
	</wsdl:message>
	<wsdl:message name="retGuidMessage">
		<wsdl:part name="part1" element="ns0:retGuid"/>
	</wsdl:message>
	<wsdl:message name="retGuidResponse">
		<wsdl:part name="part1" element="ns0:retGuidResponse"/>
	</wsdl:message>
	<wsdl:message name="retByteArrayMessage">
		<wsdl:part name="part1" element="ns0:retByteArray"/>
	</wsdl:message>
	<wsdl:message name="retByteArrayResponse">
		<wsdl:part name="part1" element="ns0:retByteArrayResponse"/>
	</wsdl:message>
	<wsdl:message name="retByteMessage">
		<wsdl:part name="part1" element="ns0:retByte"/>
	</wsdl:message>
	<wsdl:message name="retByteResponse">
		<wsdl:part name="part1" element="ns0:retByteResponse"/>
	</wsdl:message>
	<wsdl:message name="retSByteMessage">
		<wsdl:part name="part1" element="ns0:retSByte"/>
	</wsdl:message>
	<wsdl:message name="retSByteResponse">
		<wsdl:part name="part1" element="ns0:retSByteResponse"/>
	</wsdl:message>
	<wsdl:message name="retShortMessage">
		<wsdl:part name="part1" element="ns0:retShort"/>
	</wsdl:message>
	<wsdl:message name="retShortResponse">
		<wsdl:part name="part1" element="ns0:retShortResponse"/>
	</wsdl:message>
	<wsdl:message name="retUriMessage">
		<wsdl:part name="part1" element="ns0:retUri"/>
	</wsdl:message>
	<wsdl:message name="retUriResponse">
		<wsdl:part name="part1" element="ns0:retUriResponse"/>
	</wsdl:message>
	<wsdl:message name="retQNameMessage">
		<wsdl:part name="part1" element="ns0:retQName"/>
	</wsdl:message>
	<wsdl:message name="retQNameResponse">
		<wsdl:part name="part1" element="ns0:retQNameResponse"/>
	</wsdl:message>
	<wsdl:message name="retFloatMessage">
		<wsdl:part name="part1" element="ns0:retFloat"/>
	</wsdl:message>
	<wsdl:message name="retFloatResponse">
		<wsdl:part name="part1" element="ns0:retFloatResponse"/>
	</wsdl:message>
	<wsdl:message name="retObjectMessage">
		<wsdl:part name="part1" element="ns0:retObject"/>
	</wsdl:message>
	<wsdl:message name="retObjectResponse">
		<wsdl:part name="part1" element="ns0:retObjectResponse"/>
	</wsdl:message>
	<wsdl:message name="retBoolMessage">
		<wsdl:part name="part1" element="ns0:retBool"/>
	</wsdl:message>
	<wsdl:message name="retBoolResponse">
		<wsdl:part name="part1" element="ns0:retBoolResponse"/>
	</wsdl:message>
	<wsdl:message name="retDoubleMessage">
		<wsdl:part name="part1" element="ns0:retDouble"/>
	</wsdl:message>
	<wsdl:message name="retDoubleResponse">
		<wsdl:part name="part1" element="ns0:retDoubleResponse"/>
	</wsdl:message>
	<wsdl:message name="retDecimalMessage">
		<wsdl:part name="part1" element="ns0:retDecimal"/>
	</wsdl:message>
	<wsdl:message name="retDecimalResponse">
		<wsdl:part name="part1" element="ns0:retDecimalResponse"/>
	</wsdl:message>
	<wsdl:message name="retLongMessage">
		<wsdl:part name="part1" element="ns0:retLong"/>
	</wsdl:message>
	<wsdl:message name="retLongResponse">
		<wsdl:part name="part1" element="ns0:retLongResponse"/>
	</wsdl:message>
	<wsdl:message name="retIntMessage">
		<wsdl:part name="part1" element="ns0:retInt"/>
	</wsdl:message>
	<wsdl:message name="retIntResponse">
		<wsdl:part name="part1" element="ns0:retIntResponse"/>
	</wsdl:message>
	<wsdl:message name="retCharMessage">
		<wsdl:part name="part1" element="ns0:retChar"/>
	</wsdl:message>
	<wsdl:message name="retCharResponse">
		<wsdl:part name="part1" element="ns0:retCharResponse"/>
	</wsdl:message>
	<wsdl:message name="retStringMessage">
		<wsdl:part name="part1" element="ns0:retString"/>
	</wsdl:message>
	<wsdl:message name="retStringResponse">
		<wsdl:part name="part1" element="ns0:retStringResponse"/>
	</wsdl:message>
	<wsdl:message name="retUShortMessage">
		<wsdl:part name="part1" element="ns0:retUShort"/>
	</wsdl:message>
	<wsdl:message name="retUShortResponse">
		<wsdl:part name="part1" element="ns0:retUShortResponse"/>
	</wsdl:message>
	<wsdl:message name="retULongMessage">
		<wsdl:part name="part1" element="ns0:retULong"/>
	</wsdl:message>
	<wsdl:message name="retULongResponse">
		<wsdl:part name="part1" element="ns0:retULongResponse"/>
	</wsdl:message>
	<wsdl:portType name="BaseDataTypesPortType">
		<wsdl:operation name="retUInt">
			<wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retUIntMessage" wsaw:Action="urn:retUInt"/>
			<wsdl:output message="axis2:retUIntResponse"/>
		</wsdl:operation>
		<wsdl:operation name="retSingle">
			<wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retSingleMessage" wsaw:Action="urn:retSingle"/>
			<wsdl:output message="axis2:retSingleResponse"/>
		</wsdl:operation>
		<wsdl:operation name="retTimeSpan">
			<wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retTimeSpanMessage" wsaw:Action="urn:retTimeSpan"/>
			<wsdl:output message="axis2:retTimeSpanResponse"/>
		</wsdl:operation>
		<wsdl:operation name="retDateTime">
			<wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retDateTimeMessage" wsaw:Action="urn:retDateTime"/>
			<wsdl:output message="axis2:retDateTimeResponse"/>
		</wsdl:operation>
		<wsdl:operation name="retGuid">
			<wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retGuidMessage" wsaw:Action="urn:retGuid"/>
			<wsdl:output message="axis2:retGuidResponse"/>
		</wsdl:operation>
		<wsdl:operation name="retByteArray">
			<wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retByteArrayMessage" wsaw:Action="urn:retByteArray"/>
			<wsdl:output message="axis2:retByteArrayResponse"/>
		</wsdl:operation>
		<wsdl:operation name="retByte">
			<wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retByteMessage" wsaw:Action="urn:retByte"/>
			<wsdl:output message="axis2:retByteResponse"/>
		</wsdl:operation>
		<wsdl:operation name="retSByte">
			<wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retSByteMessage" wsaw:Action="urn:retSByte"/>
			<wsdl:output message="axis2:retSByteResponse"/>
		</wsdl:operation>
		<wsdl:operation name="retShort">
			<wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retShortMessage" wsaw:Action="urn:retShort"/>
			<wsdl:output message="axis2:retShortResponse"/>
		</wsdl:operation>
		<wsdl:operation name="retUri">
			<wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retUriMessage" wsaw:Action="urn:retUri"/>
			<wsdl:output message="axis2:retUriResponse"/>
		</wsdl:operation>
		<wsdl:operation name="retQName">
			<wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retQNameMessage" wsaw:Action="urn:retQName"/>
			<wsdl:output message="axis2:retQNameResponse"/>
		</wsdl:operation>
		<wsdl:operation name="retFloat">
			<wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retFloatMessage" wsaw:Action="urn:retFloat"/>
			<wsdl:output message="axis2:retFloatResponse"/>
		</wsdl:operation>
		<wsdl:operation name="retObject">
			<wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retObjectMessage" wsaw:Action="urn:retObject"/>
			<wsdl:output message="axis2:retObjectResponse"/>
		</wsdl:operation>
		<wsdl:operation name="retBool">
			<wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retBoolMessage" wsaw:Action="urn:retBool"/>
			<wsdl:output message="axis2:retBoolResponse"/>
		</wsdl:operation>
		<wsdl:operation name="retDouble">
			<wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retDoubleMessage" wsaw:Action="urn:retDouble"/>
			<wsdl:output message="axis2:retDoubleResponse"/>
		</wsdl:operation>
		<wsdl:operation name="retDecimal">
			<wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retDecimalMessage" wsaw:Action="urn:retDecimal"/>
			<wsdl:output message="axis2:retDecimalResponse"/>
		</wsdl:operation>
		<wsdl:operation name="retLong">
			<wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retLongMessage" wsaw:Action="urn:retLong"/>
			<wsdl:output message="axis2:retLongResponse"/>
		</wsdl:operation>
		<wsdl:operation name="retInt">
			<wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retIntMessage" wsaw:Action="urn:retInt"/>
			<wsdl:output message="axis2:retIntResponse"/>
		</wsdl:operation>
		<wsdl:operation name="retChar">
			<wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retCharMessage" wsaw:Action="urn:retChar"/>
			<wsdl:output message="axis2:retCharResponse"/>
		</wsdl:operation>
		<wsdl:operation name="retString">
			<wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retStringMessage" wsaw:Action="urn:retString"/>
			<wsdl:output message="axis2:retStringResponse"/>
		</wsdl:operation>
		<wsdl:operation name="retUShort">
			<wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retUShortMessage" wsaw:Action="urn:retUShort"/>
			<wsdl:output message="axis2:retUShortResponse"/>
		</wsdl:operation>
		<wsdl:operation name="retULong">
			<wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:retULongMessage" wsaw:Action="urn:retULong"/>
			<wsdl:output message="axis2:retULongResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BaseDataTypesSOAP11Binding" type="axis2:BaseDataTypesPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="retUInt">
			<soap:operation soapAction="urn:retUInt" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retSingle">
			<soap:operation soapAction="urn:retSingle" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retTimeSpan">
			<soap:operation soapAction="urn:retTimeSpan" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retDateTime">
			<soap:operation soapAction="urn:retDateTime" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retGuid">
			<soap:operation soapAction="urn:retGuid" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retByteArray">
			<soap:operation soapAction="urn:retByteArray" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retByte">
			<soap:operation soapAction="urn:retByte" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retSByte">
			<soap:operation soapAction="urn:retSByte" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retShort">
			<soap:operation soapAction="urn:retShort" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retUri">
			<soap:operation soapAction="urn:retUri" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retQName">
			<soap:operation soapAction="urn:retQName" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retFloat">
			<soap:operation soapAction="urn:retFloat" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retObject">
			<soap:operation soapAction="urn:retObject" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retBool">
			<soap:operation soapAction="urn:retBool" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retDouble">
			<soap:operation soapAction="urn:retDouble" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retDecimal">
			<soap:operation soapAction="urn:retDecimal" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retLong">
			<soap:operation soapAction="urn:retLong" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retInt">
			<soap:operation soapAction="urn:retInt" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retChar">
			<soap:operation soapAction="urn:retChar" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retString">
			<soap:operation soapAction="urn:retString" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retUShort">
			<soap:operation soapAction="urn:retUShort" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retULong">
			<soap:operation soapAction="urn:retULong" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="BaseDataTypesSOAP12Binding" type="axis2:BaseDataTypesPortType">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="retUInt">
			<soap12:operation soapAction="urn:retUInt" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retSingle">
			<soap12:operation soapAction="urn:retSingle" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retTimeSpan">
			<soap12:operation soapAction="urn:retTimeSpan" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retDateTime">
			<soap12:operation soapAction="urn:retDateTime" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retGuid">
			<soap12:operation soapAction="urn:retGuid" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retByteArray">
			<soap12:operation soapAction="urn:retByteArray" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retByte">
			<soap12:operation soapAction="urn:retByte" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retSByte">
			<soap12:operation soapAction="urn:retSByte" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retShort">
			<soap12:operation soapAction="urn:retShort" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retUri">
			<soap12:operation soapAction="urn:retUri" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retQName">
			<soap12:operation soapAction="urn:retQName" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retFloat">
			<soap12:operation soapAction="urn:retFloat" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retObject">
			<soap12:operation soapAction="urn:retObject" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retBool">
			<soap12:operation soapAction="urn:retBool" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retDouble">
			<soap12:operation soapAction="urn:retDouble" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retDecimal">
			<soap12:operation soapAction="urn:retDecimal" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retLong">
			<soap12:operation soapAction="urn:retLong" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retInt">
			<soap12:operation soapAction="urn:retInt" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retChar">
			<soap12:operation soapAction="urn:retChar" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retString">
			<soap12:operation soapAction="urn:retString" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retUShort">
			<soap12:operation soapAction="urn:retUShort" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retULong">
			<soap12:operation soapAction="urn:retULong" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="BaseDataTypesHttpBinding" type="axis2:BaseDataTypesPortType">
		<http:binding verb="POST"/>
		<wsdl:operation name="retUInt">
			<http:operation location="retUInt"/>
			<wsdl:input>
				<mime:content type="text/xml" part="retUInt"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="retUInt"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retSingle">
			<http:operation location="retSingle"/>
			<wsdl:input>
				<mime:content type="text/xml" part="retSingle"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="retSingle"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retTimeSpan">
			<http:operation location="retTimeSpan"/>
			<wsdl:input>
				<mime:content type="text/xml" part="retTimeSpan"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="retTimeSpan"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retDateTime">
			<http:operation location="retDateTime"/>
			<wsdl:input>
				<mime:content type="text/xml" part="retDateTime"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="retDateTime"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retGuid">
			<http:operation location="retGuid"/>
			<wsdl:input>
				<mime:content type="text/xml" part="retGuid"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="retGuid"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retByteArray">
			<http:operation location="retByteArray"/>
			<wsdl:input>
				<mime:content type="text/xml" part="retByteArray"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="retByteArray"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retByte">
			<http:operation location="retByte"/>
			<wsdl:input>
				<mime:content type="text/xml" part="retByte"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="retByte"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retSByte">
			<http:operation location="retSByte"/>
			<wsdl:input>
				<mime:content type="text/xml" part="retSByte"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="retSByte"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retShort">
			<http:operation location="retShort"/>
			<wsdl:input>
				<mime:content type="text/xml" part="retShort"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="retShort"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retUri">
			<http:operation location="retUri"/>
			<wsdl:input>
				<mime:content type="text/xml" part="retUri"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="retUri"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retQName">
			<http:operation location="retQName"/>
			<wsdl:input>
				<mime:content type="text/xml" part="retQName"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="retQName"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retFloat">
			<http:operation location="retFloat"/>
			<wsdl:input>
				<mime:content type="text/xml" part="retFloat"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="retFloat"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retObject">
			<http:operation location="retObject"/>
			<wsdl:input>
				<mime:content type="text/xml" part="retObject"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="retObject"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retBool">
			<http:operation location="retBool"/>
			<wsdl:input>
				<mime:content type="text/xml" part="retBool"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="retBool"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retDouble">
			<http:operation location="retDouble"/>
			<wsdl:input>
				<mime:content type="text/xml" part="retDouble"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="retDouble"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retDecimal">
			<http:operation location="retDecimal"/>
			<wsdl:input>
				<mime:content type="text/xml" part="retDecimal"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="retDecimal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retLong">
			<http:operation location="retLong"/>
			<wsdl:input>
				<mime:content type="text/xml" part="retLong"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="retLong"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retInt">
			<http:operation location="retInt"/>
			<wsdl:input>
				<mime:content type="text/xml" part="retInt"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="retInt"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retChar">
			<http:operation location="retChar"/>
			<wsdl:input>
				<mime:content type="text/xml" part="retChar"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="retChar"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retString">
			<http:operation location="retString"/>
			<wsdl:input>
				<mime:content type="text/xml" part="retString"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="retString"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retUShort">
			<http:operation location="retUShort"/>
			<wsdl:input>
				<mime:content type="text/xml" part="retUShort"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="retUShort"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retULong">
			<http:operation location="retULong"/>
			<wsdl:input>
				<mime:content type="text/xml" part="retULong"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="retULong"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BaseDataTypes">
		<wsdl:port name="BaseDataTypesSOAP11port_http" binding="axis2:BaseDataTypesSOAP11Binding">
			<soap:address location="http://localhost:8080/axis2/services/BaseDataTypes"/>
		</wsdl:port>
		<wsdl:port name="BaseDataTypesSOAP12port_http" binding="axis2:BaseDataTypesSOAP12Binding">
			<soap12:address location="http://localhost:8080/axis2/services/BaseDataTypes"/>
		</wsdl:port>
		<wsdl:port name="BaseDataTypesHttpport" binding="axis2:BaseDataTypesHttpBinding">
			<http:address location="http://localhost:8080/axis2/services/BaseDataTypes"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
