v1.2/modules/codegen/test-resources/schemas/schema-4.xsd

<!--
    1. AddRequest is of AddRequestType
    2. AddRequestType extends from AbstractParameterType and it AddRequestType has more stuff defined in a sequence, in
    addition to the extension.
    3. AbstractParameterType has primitive types only
-->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://ws.apache.org/schemas/axis2" xmlns="http://ws.apache.org/schemas/axis2"
           xmlns:ns="http://ws.apache.org/schemas/axis2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="AddRequest" type="AddRequestType"/>
    <xs:complexType name="AddRequestType">
        <xs:complexContent>
            <xs:extension base="ns:AbstractParameterType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="ParameterThree" type="xs:int"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="ParameterFour" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType abstract="true" name="AbstractParameterType">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="ParameterOne" type="xs:int"/>
            <xs:element maxOccurs="1" minOccurs="1" name="ParameterTwo" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>