modules/adb-codegen/test-resources/xsd/simple_nillable.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://soapinterop.org/types"
        targetNamespace="http://soapinterop.org/types">
    <complexType name="SOAPStruct1">
        <sequence>
            <element name="varString" type="xsd:string" nillable="true"/>
            <element name="varInt" type="xsd:int"/>
            <element name="varFloat" type="xsd:float"/>
        </sequence>
    </complexType>
    <element name="myElementNillable" type="tns:SOAPStruct1" nillable="true"/>
</schema>