modules/adb-codegen/test-resources/xsd/simple_particle_all.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://soapinterop.org/types"
        targetNamespace="http://soapinterop.org/types"
        elementFormDefault="qualified">
      <complexType name="SimpleParticleAllStruct">
        <all>
            <element name="varString" type="xsd:string"/>
            <element name="varInt" type="xsd:int"/>
            <element name="varFloat" type="xsd:float"/>
        </all>
    </complexType>
    <element name="myParticleAllElement" type="tns:SimpleParticleAllStruct"/>
</schema>