modules/adb-codegen/test-resources/xsd/simple_any.xsd

<schema targetNamespace="http://soapinterop.org/xsd"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsd1="http://soapinterop.org/xsd"
        elementFormDefault="qualified">
    <complexType name="SOAPStruct">
        <sequence>
            <element name="varFloat" type="xsd:float"/>
            <element name="varInt" type="xsd:int"/>
            <element name="varString" type="xsd:string"/>
            <any/>  <!-- note the inclusion of any here -->
        </sequence>

    </complexType>
    <element name="myobject" type="xsd1:SOAPStruct"/>
</schema>